<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#services" class="menu-btn">Services</a></li>
                <li><a href="#skills" class="menu-btn">Skills</a></li>
                <li><a href="#teams" class="menu-btn">Teams</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content head-text">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Travis Stewart</div>
                <div class="text-3" style="font-weight: 200;">And I'm a <span class="typing"></span></div>
                {{!-- <a href="#">Hire me</a> --}}     
    


        </div>
        </div>
                <div class="arrow">
                    <span></span>
                    <span></span>
                </div>

       
    </section>
    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">

                <div class="column left">
                    <div class="bg-about"></div>
                    <img src="https://st4.depositphotos.com/15934180/29991/v/1600/depositphotos_299911654-stock-illustration-beautiful-woman-portrait-black-and.jpg" alt="">
                </div>
                
                <div class="column right  ">
                    {{!-- <div class="text">I'm Prakash and I'm a <span class="typing-2"></span></div> --}}
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem excepturi eaque, sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga nihil dolorum quae. Explicabo illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae velit inventore exercitationem consequuntur blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas culpa voluptatum repudiandae harum non.</p>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My Projects</h2>
            <div class="serv-content">
                {{!-- <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">Web Design</div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
                    </div>
                </div> --}}

                        <div class="p">
                            <div class="p-browser">
                                <div class="p-circle"></div>
                                <div class="p-circle"></div>
                                <div class="p-circle"></div>
                            </div>
                            <a href="http://lama.dev" target="_blank">
                                <img src="https://images.pexels.com/photos/1261005/pexels-photo-1261005.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="p-img">
                            </a>
                        </div>
                
            </div>

         
               </div>
            </div>
        </div>
    </section>
    <!-- skills section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My creative skills & experiences.</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ratione error est recusandae consequatur, iusto illum deleniti quidem impedit, quos quaerat quis minima sequi. Cupiditate recusandae laudantium esse, harum animi aspernatur quisquam et delectus ipsum quam alias quaerat? Quasi hic quidem illum. Ad delectus natus aut hic explicabo minus quod.</p>
                    <a href="#">Read more</a>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            <span>90%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>60%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            <span>80%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>PHP</span>
                            <span>50%</span>
                        </div>
                        <div class="line php"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>MySQL</span>
                            <span>70%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- teams section start -->

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum corporis fuga corrupti. Doloribus quis soluta nesciunt veritatis vitae nobis?</p>
                    <div class="icons">
                        <div class="row">
                             {{!-- <img class="c-icon" src="https://img.icons8.com/ios/50/000000/apple-phone.png"/>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Prakash Shahi</div>
                            </div> --}}
                                              <div class="c-info-item">
                                                <img class="c-icon" src="https://img.icons8.com/ios/50/000000/apple-phone.png"/>
                                                4347091999
                                            </div>
                        </div>
                        <div class="row">
                               <div class="c-info-item">
                     <img class="c-icon" src="https://img.icons8.com/external-nawicon-detailed-outline-nawicon/50/000000/external-email-communication-nawicon-detailed-outline-nawicon-2.png"/>
                    4347091999@gmail.com
                  </div>
                        </div>
                        <div class="row">
                                  <div class="c-info-item">
                     <img class="c-icon" src="https://img.icons8.com/ios/50/000000/address--v1.png"/>
                    4347091999
                  </div>    
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" id="user_name" placeholder="Name" name="user_name" required>
                            </div>
                            <div class="field email">
                                <input type="email" id="user_email" name="user_email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject" id="user_subject" name="user_subject" required >
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" placeholder="Message.." id="message" name="message" required></textarea>
                        </div>
                        <div class="button-area">
                            <button onclick="sendMail()" type="submit">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>