<body>
    <div class="i">
      <div class="i-left">
            <div class="i-left-wrapper">
                <h2 class="i-intro"> Hello, My name is</h2>
                <h1 class="i-name"> Travis Stewart</h1>
                <div class="i-title">
                  <div class="i-title-wrapper">
                    {{!-- <div class="i-title-item">Full </div>
                    <div class="i-title-item">Stack </div>
                    <div class="i-title-item"> Web </div>
                    <div class="i-title-item">Full Stack Web Developer</div> --}}
                    <h1>
                        <span>I</span>
                        <span>am</span>
                        <span>a</span>
                        <span>Full</span>
                        <span>Stack</span>
                        <span>Web</span>
                        <span>Developer</span>         
                    </h1>
                  </div>
                </div>
                <p class="i-desc">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis cum praesentium saepe sequi cupiditate. Iure temporibus veritatis quae, maxime hic odit sapiente incidunt commodi soluta rerum eius quas? Itaque, aut.
              </p>
            </div>
                  <svg
                    width="75"
                    height="75"
                    viewBox="0 0 75 75"
                    fill="none"
                    stroke="black"
                    class="i-scroll"
                    xmlns="http://www.w3.org/2000/svg"
                  >
          <g id="scroll">
                <path
                  id="Vector"
                  d="M40.5 15L34.5 9L28.5 15"
                  stroke-width="3"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  id="Vector_2"
                  d="M28.5 24L34.5 30L40.5 24"
                  stroke-width="3"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <g id="Group">
                  <path
                    id="Vector_3"
                    d="M9 37.5H60"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <path
                  id="Vector_4"
                  d="M34.5 27V9"
                  stroke-width="2.9895"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <g id="Group_2">
                  <path
                    id="Vector_5"
                    d="M9 27C9 12.918 20.418 1.5 34.5 1.5C48.5859 1.5 60 12.918 60 27C60 29.8906 60 45.1094 60 48C60 62.082 48.5859 73.5 34.5 73.5C20.418 73.5 9 62.082 9 48C9 45.1094 9 29.8906 9 27Z"
                    stroke-width="3"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
          </g>
        </svg>

      </div>
        <div class="i-right">
          <div class="i-bg"></div>
          <img class="i-img" src="/img/profileImg.png" alt="">
          
        </div>
    </div> 
    {{!-- end of intro(i) wrapper --}}

    {{!-- About --}}


    <div class="a">
        <div class="a-left">
          <div class="a-card bg"> </div>
            <div class="a-card">
              <img class="a-img" src="https://images.pexels.com/photos/2385460/pexels-photo-2385460.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
            </div>
         
        </div>
        <div class="a-right">
            <h1 class="a-title">About Me</h1>
            <p class="a-sub">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto distinctio totam nemo aliquid quidem porro harum, velit ipsa non?
            </p>
            <p class="a-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sequi hic cumque laborum ipsam iste id rem voluptatibus dolore deserunt esse tempora assumenda voluptatem et excepturi a quam veniam maxime dolor numquam totam, quidem aut. In amet enim quibusdam beatae, possimus qui, veritatis, minima molestias veniam ab delectus omnis aperiam?
            </p>
            {{!-- <div class="a-award">
              <img src="" alt="">
            </div> --}}
        </div>
    </div>

    {{!-- end About --}}


  {{!-- poduct --}}

  <div class="p1">
      <div class="p1-texts">
        <h1 class="p1-titile">Create & inspire. It's Lama</h1>
        <p class="p1-desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia fuga praesentium laudantium qui sunt quo molestias modi commodi, nam dolorem ipsum ad quae soluta nihil! Tempore ullam unde cupiditate quas.
        </p>
      </div>
  </div>

  <div class="p1-list">
        <div class="p">
          <div class="p-browser">
              <div class="p-circle"></div>
              <div class="p-circle"></div>
              <div class="p-circle"></div>
          </div>
          <a href="http://lama.dev" target="_blank">
            <img src="https://images.pexels.com/photos/1261005/pexels-photo-1261005.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="p-img">
          </a>
        </div>
        <div class="p">
          <div class="p-browser">
              <div class="p-circle"></div>
              <div class="p-circle"></div>
              <div class="p-circle"></div>
          </div>
          <a href="http://lama.dev" target="_blank">
            <img src="https://images.pexels.com/photos/1261005/pexels-photo-1261005.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="p-img">
          </a>
        </div>
        <div class="p">
          <div class="p-browser">
              <div class="p-circle"></div>
              <div class="p-circle"></div>
              <div class="p-circle"></div>
          </div>
          <a href="http://lama.dev" target="_blank">
            <img src="https://images.pexels.com/photos/1261005/pexels-photo-1261005.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="p-img">
          </a>
        </div>
        <div class="p">
          <div class="p-browser">
              <div class="p-circle"></div>
              <div class="p-circle"></div>
              <div class="p-circle"></div>
          </div>
          <a href="http://lama.dev" target="_blank">
            <img src="https://images.pexels.com/photos/1261005/pexels-photo-1261005.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="p-img">
          </a>
        </div>
        <div class="p">
          <div class="p-browser">
              <div class="p-circle"></div>
              <div class="p-circle"></div>
              <div class="p-circle"></div>
          </div>
          <a href="http://lama.dev" target="_blank">
            <img src="https://images.pexels.com/photos/1261005/pexels-photo-1261005.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="p-img">
          </a>
        </div>
        <div class="p">
          <div class="p-browser">
              <div class="p-circle"></div>
              <div class="p-circle"></div>
              <div class="p-circle"></div>
          </div>
          <a href="http://lama.dev" target="_blank">
            <img src="https://images.pexels.com/photos/1261005/pexels-photo-1261005.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="p-img">
          </a>
        </div> 
  </div>

  {{!-- ======  contact  ======= --}}
  <div class="c">
      <div class="v-bg"></div>
      <div class="c-wrapper">
          <div class="c-left">
              <h1 class="c-title"> Let's Talk Projects </h1>
              <div class="c-info">
                  <div class="c-info-item">
                     <img class="c-icon" src="https://img.icons8.com/ios/50/000000/apple-phone.png"/>
                    4347091999
                  </div>
                  <div class="c-info-item">
                     <img class="c-icon" src="https://img.icons8.com/external-nawicon-detailed-outline-nawicon/50/000000/external-email-communication-nawicon-detailed-outline-nawicon-2.png"/>
                    4347091999@gmail.com
                  </div>
                  <div class="c-info-item">
                     <img class="c-icon" src="https://img.icons8.com/ios/50/000000/address--v1.png"/>
                    4347091999
                  </div>
              </div>
          </div>
          <div class="c-right">
              <p class="c-desc">
                  <b>Lorem, ipsum dolor.</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, quis. Obcaecati pariatur, atque ducimus ratione modi non repellat ipsum repudiandae et explicabo similique labore, quis nulla voluptas, natus vel commodi?
              </p>
              <form >
                  <input type="text" id="user_name" placeholder="Name" name="user_name">
                  <input type="text" id="user_subject" placeholder="Subject" name="user_subject">
                  <input type="email" id="user_email" placeholder="Email" name="user_email">
                  <textarea  rows="5" id="message" placeholder="message" name="message"></textarea>
                  <button onclick="sendMail()">Submit</button>
              </form>
          </div>
      </div>
  </div>

</body>