*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.i{
  display: flex;
  height: 100vh;
 
}
.i-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-right{
  flex: 1;
  position: relative;
}
.i-left-wrapper{
  padding: 50px;
  height: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.i-intro{
  font-size: 30px;
  font-weight: 300;
}
.i-name{
  font-size: 60px;
}
.i-title{
  height: 50px;
  overflow: hidden;
}
.i-title-item{
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #5463FF;
  display: flex;
  align-items: center;

}
/* .i-title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite ;
}
@keyframes move {
  25%{transform: translateY(-50px);}
  50%{transform: translateY(-100px);}
  75%{transform: translateY(-150px);}
  100%{transform: translateY(-200px);}  
} */
.i-title-wrapper{
  height: 100%;
  
}
.i-title-wrapper h1{
  font-family: "Montserrat Medium";
  max-width: 40ch;
  /* text-align: center; */
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1)  ;
}

.i-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: grayscale(100%);
}
.i-bg{
  clip-path: polygon(100% 0%, 100% 54%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.i-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;

}


@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0) ;
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


/* ABOUT */

.a{
  height: 100vh;
  display: flex;
  align-items: center;

}
.a-left{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right{
  flex: 1;

}
.a-card.bg{
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}
.a-card{
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.a-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.a-sub{
   margin: 20px 0px;
}
.a-desc{
   font-weight: 300;
}
/* .a-award{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

} */

/* ======  product ====== */

.p1{
   padding: 50px 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

}
.p1-texts{
  width: 65%;
}
.p1-title{
  font-size: 50px;
  font-weight: 600;
}
.p1-desc{
  margin: 20px 0px;
}
.p1-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  width: 100%;
}

.p{
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243,242,242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.p-browser{
  height: 20px;
  background-color: rgb(243,242,242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.p-circle{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  margin: 3px;

}
.p-img{
   width: 100%;
   transition: all 12s ease;
}
.p:hover .p-img{
   transform: translateY(-100%);

}
.c{
  height: 100vh;
  position: relative;
}
.c-bg{
  width: 20px;
  height: 100%;
  background-color: red;
  position: absolute;

}
.c-wrapper{
  padding: 50px;
  display: flex;
}
.c-left{
  flex:1;
}
.c-right{
  flex:1;
}

.c-title{
  font-size: 60px;
  width: 80%;

}
.c-info-item{
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 70%;

}
.c-icon{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
